.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  justify-items: center;
  background: url("/plasmic/disuko_website_retro_version/images/backgroundJpg.jpg") top 50% left 50% / cover repeat fixed;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_theme_classic {
  background: var(--token-2cxCto4hpENi);
}
.rootglobal_theme_classic > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_theme_classic > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__hYSzg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.img___2B3YC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: none;
  width: 75%;
  margin: 10px;
}
.img___2B3YC > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___2B3YC {
    width: 100%;
    min-width: 0;
  }
}
.windowButton:global(.__wab_instance) {
  max-width: 100%;
  align-self: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .windowButton:global(.__wab_instance) {
    align-self: center;
  }
}
.text__nmYig {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  margin-bottom: 0px;
  min-width: 0;
}
.textglobal_theme_classic__nmYiGeNktM {
  color: var(--token-lpL2YkgMM450);
}
.text__za4GN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: var(--token-GXH3dzbZuw1x);
  margin-top: 55px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__za4GN {
    font-size: 24px;
    text-align: center;
  }
}
.textglobal_theme_classic__za4GNeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.columns__u2Lre {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 40px;
  column-gap: 10px;
  min-width: 0;
  --plsmc-rc-col-gap: 10px;
  padding: 0px;
}
.columns__u2Lre > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__u2Lre > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__u2Lre > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u2Lre {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u2Lre > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qyp8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__yhfEx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yhfEx {
    font-size: 24px;
  }
}
.textglobal_theme_classic__yhfEXeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.window__bGvUm:global(.__wab_instance) {
  max-width: 100%;
  width: 451px;
}
.img__qfXr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  backdrop-filter: brightness(75%);
  width: 354px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__qfXr > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__qfXr {
    width: 100%;
  }
}
.imgglobal_theme_classic__qfXrENktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.text__bHG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textglobal_theme_classic__bHGeNktM {
  color: var(--token-lpL2YkgMM450);
}
.window__gl6Ht:global(.__wab_instance) {
  max-width: 100%;
  width: 451px;
}
.img__tltl1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 354px;
  margin: 10px;
}
.img__tltl1 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tltl1 {
    width: 100%;
  }
}
.imgglobal_theme_classic__tltl1ENktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.text__aAapR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textglobal_theme_classic__aAapReNktM {
  color: var(--token-lpL2YkgMM450);
}
.window__rJrJ7:global(.__wab_instance) {
  max-width: 100%;
  width: 451px;
}
.img__bc6M8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 354px;
  margin: 10px;
}
.img__bc6M8 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__bc6M8 {
    width: 100%;
  }
}
.imgglobal_theme_classic__bc6M8ENktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.text__exCeu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textglobal_theme_classic__exCeueNktM {
  color: var(--token-lpL2YkgMM450);
}
.column___2OlL9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__kZp8C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kZp8C {
    font-size: 24px;
  }
}
.textglobal_theme_classic__kZp8CeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.window___8G18Z:global(.__wab_instance) {
  max-width: 100%;
  width: 451px;
}
.img__jGHr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  height: 231px;
  backdrop-filter: brightness(75%);
  width: 354px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__jGHr > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jGHr {
    width: 100%;
  }
}
.imgglobal_theme_classic__jGHreNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.text__ct6M0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textglobal_theme_classic__ct6M0ENktM {
  color: var(--token-lpL2YkgMM450);
}
.window__xXtNw:global(.__wab_instance) {
  max-width: 100%;
  width: 451px;
}
.img___8SmNd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 354px;
  backdrop-filter: brightness(75%);
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img___8SmNd > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___8SmNd {
    width: 100%;
  }
}
.imgglobal_theme_classic___8SmNdeNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.text__kfdg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textglobal_theme_classic__kfdgENktM {
  color: var(--token-lpL2YkgMM450);
}
.window__nZzKy:global(.__wab_instance) {
  max-width: 100%;
  width: 451px;
}
.img___1Aowu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  height: 325px;
  width: 354px;
  margin: 10px;
}
.img___1Aowu > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___1Aowu {
    width: 100%;
  }
}
.imgglobal_theme_classic___1AowueNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.text__eytyP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textglobal_theme_classic__eytyPeNktM {
  color: var(--token-lpL2YkgMM450);
}
.window__n50M:global(.__wab_instance) {
  max-width: 100%;
  width: 451px;
}
.img__t9DiA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 354px;
  margin: 10px;
}
.img__t9DiA > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__t9DiA {
    width: 100%;
  }
}
.imgglobal_theme_classic__t9DiAeNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.text__bdJBs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textglobal_theme_classic__bdJBseNktM {
  color: var(--token-lpL2YkgMM450);
}
.column__aScra {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__hu5Qu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hu5Qu {
    font-size: 24px;
  }
}
.textglobal_theme_classic__hu5QueNktM {
  color: var(--token-24x9Uc_JThUA);
}
.window__ga2Wt:global(.__wab_instance) {
  max-width: 100%;
  width: 451px;
}
.img__qgQUs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 354px;
  margin: 10px;
}
.img__qgQUs > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__qgQUs {
    width: 100%;
  }
}
.imgglobal_theme_classic__qgQUseNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.text__qv2TC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textglobal_theme_classic__qv2TCeNktM {
  color: var(--token-lpL2YkgMM450);
}
.window__mKkHq:global(.__wab_instance) {
  max-width: 100%;
  width: 451px;
}
.img__crTu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 354px;
  margin: 10px;
}
.img__crTu > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__crTu {
    width: 100%;
  }
}
.imgglobal_theme_classic__crTueNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.text__il6Bk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textglobal_theme_classic__il6BkeNktM {
  color: var(--token-lpL2YkgMM450);
}
.window__kor0:global(.__wab_instance) {
  max-width: 100%;
  width: 451px;
}
.img___1AbcC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 354px;
  margin: 10px;
}
.img___1AbcC > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___1AbcC {
    width: 100%;
  }
}
.imgglobal_theme_classic___1AbcCeNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.text__bk1Ht {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textglobal_theme_classic__bk1HteNktM {
  color: var(--token-lpL2YkgMM450);
}
.text__kr28D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kr28D {
    font-size: 32px;
  }
}
.textglobal_theme_classic__kr28DeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.columns__arCte {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__arCte > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__arCte > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__arCte > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__arCte {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__arCte > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nwOqx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  row-gap: 0px;
  min-width: 0;
  padding: 8px;
}
.text___43Ac {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___43Ac {
    font-size: 24px;
  }
}
.textglobal_theme_classic___43AceNktM {
  color: var(--token-24x9Uc_JThUA);
}
.freeBox___6SyU {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-mb8B3-mUpcKN);
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  margin: 0px;
}
.freeBoxglobal_theme_classic___6SyUeNktM {
  background: var(--token-u2rbquIz9Y0U);
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.column__ozfWe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  padding: 8px;
}
.text___4DZZn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4DZZn {
    font-size: 24px;
  }
}
.textglobal_theme_classic___4DZZneNktM {
  color: var(--token-24x9Uc_JThUA);
}
.freeBox___6EVmN {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-mb8B3-mUpcKN);
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  margin: 0px;
}
.freeBoxglobal_theme_classic___6EVmNeNktM {
  background: var(--token-u2rbquIz9Y0U);
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.window___64NmC:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  margin: 0px;
}
.img__tn5Pv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 5px;
}
.img__tn5Pv > picture > img {
  object-fit: cover;
}
.imgglobal_theme_classic__tn5PVeNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-lpL2YkgMM450),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.column__p1BVq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  padding: 8px;
}
.text__rEoIg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rEoIg {
    font-size: 24px;
  }
}
.textglobal_theme_classic__rEoIgeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.freeBox__oxqpO {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-mb8B3-mUpcKN);
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  margin: 0px;
}
.freeBoxglobal_theme_classic__oxqpOeNktM {
  background: var(--token-u2rbquIz9Y0U);
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.window___5AZoh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__ilXxZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 5px;
}
.img__ilXxZ > picture > img {
  object-fit: cover;
}
.imgglobal_theme_classic__ilXxZeNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.window__orzP:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.window__s5L5J:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__q5QTw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__q5QTw > picture > img {
  object-fit: cover;
}
.img__z18Xo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 5px;
}
.img__z18Xo > picture > img {
  object-fit: cover;
}
.imgglobal_theme_classic__z18XoeNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.window__cnHUk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__gtnmw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 5px;
}
.img__gtnmw > picture > img {
  object-fit: cover;
}
.imgglobal_theme_classic__gtnmweNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.window__pPwv7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__vgM {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  position: relative;
  margin: 5px;
}
.img__vgM > picture > img {
  object-fit: cover;
}
.imgglobal_theme_classic__vgMENktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.footer:global(.__wab_instance) {
  animation: none;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer:global(.__wab_instance) {
    animation: none;
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.footerglobal_theme_classic:global(.__wab_instance) {
  animation: none;
}
