.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: url("/plasmic/disuko_website_retro_version/images/backgroundJpg.jpg") top 50% left 50% / cover repeat fixed;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.rootglobal_theme_classic {
  background: var(--token-2cxCto4hpENi);
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  margin-bottom: 0px;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  isolation: auto;
  backdrop-filter: none;
  filter: none;
  transform: skew(0deg, 0deg);
  z-index: 0;
  max-width: 1583px;
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: none;
  padding: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    padding: 10px;
  }
}
.reveal___62Ojm:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 688px;
  min-width: 0;
}
.window__q0I21:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .window__q0I21:global(.__wab_instance) {
    height: auto;
    margin-top: 80px;
  }
}
.img__wPb6P {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 474px;
  margin: 10px;
}
.img__wPb6P > picture > img {
  object-fit: contain;
}
.bandcamp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin: 10px;
}
.text__vj4I0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.textglobal_theme_classic__vj4I0ENktM {
  color: var(--token-lpL2YkgMM450);
}
.spotify:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin: 10px;
}
.text__eijAa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.textglobal_theme_classic__eijAaeNktM {
  color: var(--token-lpL2YkgMM450);
}
.appleMusic:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .appleMusic:global(.__wab_instance) {
    margin: 1px;
  }
}
.text__ilV75 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.textglobal_theme_classic__ilV75ENktM {
  color: var(--token-lpL2YkgMM450);
}
.youTube:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin: 10px;
}
.text___0MC2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.textglobal_theme_classic___0MC2ENktM {
  color: var(--token-lpL2YkgMM450);
}
.tidal:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin: 10px;
}
.text__hMMwa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.textglobal_theme_classic__hMMwaeNktM {
  color: var(--token-lpL2YkgMM450);
}
.cloudddreamer:global(.__wab_instance) {
  position: relative;
  width: 512px;
  min-height: 512px;
  min-width: 512px;
}
.freeBox___6KiX9 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6KiX9 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.pirateThisSong:global(.__wab_instance) {
  position: relative;
}
._727PpDeathLaser:global(.__wab_instance) {
  position: relative;
}
.lilypadTea:global(.__wab_instance) {
  position: relative;
}
.sendoff:global(.__wab_instance) {
  position: relative;
}
.peachy:global(.__wab_instance) {
  position: relative;
}
.bridgeInTheWoods:global(.__wab_instance) {
  position: relative;
}
.withYou:global(.__wab_instance) {
  position: relative;
}
.dinoHop:global(.__wab_instance) {
  position: relative;
}
.celestialBallad:global(.__wab_instance) {
  position: relative;
}
.flutter:global(.__wab_instance) {
  position: relative;
}
.bubbleTeaRemix:global(.__wab_instance) {
  position: relative;
}
.iceCreamParlor:global(.__wab_instance) {
  position: relative;
}
.bigShotRemix:global(.__wab_instance) {
  position: relative;
}
.bigShotRemix2:global(.__wab_instance) {
  position: relative;
}
.reveal___8DcSr:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 688px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal___8DcSr:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.window__yCiLn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  margin: 20px;
}
.img__mkuVl {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 474px;
  margin: 10px;
}
.img__mkuVl > picture > img {
  object-fit: contain;
}
.freeBox__b6Lww {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b6Lww {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 10px;
  }
}
.freeBox__r5Fn9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.youTube__hJhn5:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .youTube__hJhn5:global(.__wab_instance) {
    height: 200px;
    flex-shrink: 0;
  }
}
.youTube__yyvmz:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .youTube__yyvmz:global(.__wab_instance) {
    height: 200px;
    flex-shrink: 0;
  }
}
.youTube__vt36J:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .youTube__vt36J:global(.__wab_instance) {
    height: 200px;
    flex-shrink: 0;
  }
}
.freeBox__wGgf1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.youTube__kgcx:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .youTube__kgcx:global(.__wab_instance) {
    height: 200px;
    flex-shrink: 0;
  }
}
.youTube__im5Q:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .youTube__im5Q:global(.__wab_instance) {
    height: 200px;
    flex-shrink: 0;
  }
}
.youTube__i2Re9:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .youTube__i2Re9:global(.__wab_instance) {
    height: 200px;
    flex-shrink: 0;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
.snowflakes:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.windowButton:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  left: 17px;
  top: 92px;
  position: fixed;
}
.text__hwk8B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.textglobal_theme_classic__hwk8BeNktM {
  color: var(--token-lpL2YkgMM450);
}
