.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-2-xYYArPyRUR);
  font-family: var(--token-or-Z0lgtm69f);
  font-size: var(--token-PtbtxeHbp9HO);
  line-height: var(--token-blST-5cyPcSL);
  outline-style: none;
  border-radius: var(--token-YWcZl9MW-KTL);
}
.root[data-hovered][data-hovered]:global(.__wab_instance) {
  background: var(--token-y0mnTowBWjPW);
}
.root[data-selected][data-selected]:global(.__wab_instance) {
  background: var(--token-PIO9iS-YAWqM);
}
.root[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-XNR1P-4vmK-C);
  outline-color: var(--token--l1DjjvmKXX1);
  outline-offset: 1px;
}
.freeBox__nYz36 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2px;
  row-gap: var(--token-XNR1P-4vmK-C);
  min-width: 0;
  padding: var(--token-4Yvpv63-49B0) var(--token-2w3vS6kWQxZm);
}
.freeBox__ztjAl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__iN1Ix {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-9nVOCdQjMosB);
  min-width: 0;
}
