._3DDesign {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/disuko_website_retro_version/images/backgroundJpg.jpg") top 50% left 50% / cover repeat fixed;
  grid-row-gap: 20px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
._3DDesign > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  ._3DDesign > * {
    grid-column: 4;
  }
}
._3DDesignglobal_theme_classic {
  background: var(--token-2cxCto4hpENi);
}
._3DDesignglobal_theme_classic > * {
  grid-column: 4;
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.windowButton:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  left: 17px;
  top: 92px;
  position: fixed;
}
.text__i1Ah1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.freeBox__qsGi0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.multiwindow:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 521px;
  height: 391px;
  align-self: center;
  flex-shrink: 0;
  display: none;
  margin: 0px;
}
.img__a3Szv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__a3Szv > picture > img {
  object-fit: cover;
}
.img__biyt5 {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  position: relative;
  margin: 10px;
}
.img__biyt5 > picture > img {
  object-fit: cover;
}
.img__rs9Ft {
  object-fit: cover;
  max-width: 100%;
  height: 155px;
  flex-shrink: 0;
}
.img__rs9Ft > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__rs9Ft {
    width: 100%;
    max-width: auto;
    object-fit: contain;
    margin-top: 59px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__rs9Ft > picture > img {
    object-fit: contain;
  }
}
.text__uh7K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  color: var(--token-GXH3dzbZuw1x);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
.img__zn1El {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.img__zn1El > picture > img {
  object-fit: cover;
}
.text__vVmed {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  color: var(--token-GXH3dzbZuw1x);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel:global(.__wab_instance) {
    width: auto;
    justify-self: flex-start;
    display: none;
  }
}
.freeBox__xl6Ay {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 0;
  padding: 8px;
}
.window__sqAdD:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.img__yT9Dh {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  backdrop-filter: brightness(75%);
  height: 500px;
  width: 500px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__yT9Dh > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yT9Dh {
    width: 250px;
  }
}
.freeBox__dOkd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.window__s2J04:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__mghKd {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  backdrop-filter: brightness(75%);
  height: 500px;
  width: 500px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__mghKd > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mghKd {
    width: 250px;
  }
}
.freeBox__xxAoH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.window__vl1CL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__vS4Sp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  height: 500px;
  backdrop-filter: brightness(75%);
  width: 500px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__vS4Sp > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vS4Sp {
    width: 250px;
  }
}
.freeBox__hUrU {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.window__tx6YE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.img__s3FvE {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  backdrop-filter: brightness(75%);
  width: 500px;
  height: 500px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__s3FvE > picture > img {
  object-fit: scale-down;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__s3FvE {
    width: 250px;
  }
}
.freeBox__vtjQo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.window___8SiBa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.img__qs1YK {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  height: 500px;
  width: 500px;
  backdrop-filter: brightness(75%);
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__qs1YK > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__qs1YK {
    width: 250px;
  }
}
.freeBox__z2AUx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.window__csHLt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__smlxf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 500px;
  height: 500px;
  margin: 10px;
}
.img__smlxf > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__smlxf {
    width: 250px;
  }
}
.freeBox__u6LuJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.window__vevHz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__lZy2Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 500px;
  height: 500px;
  margin: 10px;
}
.img__lZy2Q > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lZy2Q {
    width: 250px;
  }
}
.freeBox__uq7Lp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.window__sbbYi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__vE5Zk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 500px;
  height: 500px;
  backdrop-filter: brightness(75%);
  -webkit-backdrop-filter: brightness(75%);
  border-radius: 140px;
  margin: 10px;
}
.img__vE5Zk > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vE5Zk {
    width: 250px;
  }
}
.freeBox__qglNu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: 0;
  padding: 8px;
}
.window__mLfyK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.img__lI657 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  height: 500px;
  width: 500px;
  backdrop-filter: brightness(75%);
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__lI657 > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lI657 {
    width: 250px;
  }
}
.freeBox__w8Lg1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.window__lVwHz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__spqb1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  backdrop-filter: brightness(75%);
  width: 500px;
  height: 500px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__spqb1 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__spqb1 {
    width: 250px;
  }
}
.freeBox__dq5T {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dq5T {
    display: flex;
  }
}
.freeBox___53A4J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.window__wNc5Z:global(.__wab_instance) {
  position: relative;
}
.img__wk8JY {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  backdrop-filter: brightness(75%);
  height: 500px;
  width: 500px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__wk8JY > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wk8JY {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox___0Gsj4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__wYvgt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__bhEoo {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  backdrop-filter: brightness(75%);
  height: 500px;
  width: 500px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__bhEoo > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__bhEoo {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox___2IIeK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__egmPg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__xBr9H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  height: 500px;
  backdrop-filter: brightness(75%);
  width: 500px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__xBr9H > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xBr9H {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__uQqfC {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  max-width: 100%;
  padding: 8px;
}
.window___8G7TD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.img__jcCUv {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  backdrop-filter: brightness(75%);
  width: 500px;
  height: 500px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__jcCUv > picture > img {
  object-fit: scale-down;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jcCUv {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__a6Ghy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__in6NO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__toout {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  height: 500px;
  width: 500px;
  backdrop-filter: brightness(75%);
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__toout > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__toout {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__nd4Mb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__w0Jnt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__iaywn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 500px;
  height: 500px;
  margin: 10px;
}
.img__iaywn > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__iaywn {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__aYpur {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__fmgJr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__xZwg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 500px;
  height: 500px;
  margin: 10px;
}
.img__xZwg > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xZwg {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__up3Zm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__nh45R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__pcHcG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 500px;
  height: 500px;
  backdrop-filter: brightness(75%);
  -webkit-backdrop-filter: brightness(75%);
  border-radius: 140px;
  margin: 10px;
}
.img__pcHcG > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__pcHcG {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__lX9G9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.window___1N2E4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.img__bli3 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  height: 500px;
  width: 500px;
  backdrop-filter: brightness(75%);
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img__bli3 > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__bli3 {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__whuXr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.window__e8Rs3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___89PyM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  backdrop-filter: brightness(75%);
  width: 500px;
  height: 500px;
  -webkit-backdrop-filter: brightness(75%);
  margin: 10px;
}
.img___89PyM > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___89PyM {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.text__f8Bde {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  color: var(--token-GXH3dzbZuw1x);
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
  margin: 0px;
}
.freeBox__ycdwN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.freeBox__hSgcn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hSgcn {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.img__fvEA {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  position: relative;
  width: 620px;
  flex-shrink: 0;
}
.img__fvEA > picture > img {
  object-fit: contain;
}
.img__kWuM {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  align-self: stretch;
  width: 620px;
  flex-shrink: 0;
}
.img__kWuM > picture > img {
  object-fit: contain;
}
.freeBox__a7Amq {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  column-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a7Amq {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.img___0ImVd {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  position: relative;
  width: 620px;
  flex-shrink: 0;
}
.img___0ImVd > picture > img {
  object-fit: contain;
}
.img__fJlWu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 620px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.img__fJlWu > picture > img {
  object-fit: cover;
}
.freeBox__zb6Km {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 40px;
  column-gap: 0px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zb6Km {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
  }
}
.img___5Kvd {
  object-fit: cover;
  max-width: 100%;
  width: 620%;
}
.img___5Kvd > picture > img {
  object-fit: cover;
}
.text__luxfU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.window__qQnq3:global(.__wab_instance) {
  position: relative;
  max-width: 100%;
  width: auto;
  margin: 0px;
}
.img__kHmb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__kHmb > picture > img {
  object-fit: cover;
}
.window___7LvUh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  margin: 0px;
}
.img__ikFvE {
  position: relative;
  object-fit: cover;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  width: 100%;
  min-width: 0;
  margin: 10px;
}
.img__ikFvE > picture > img {
  object-fit: cover;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lpHd4 {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background: var(--token-mb8B3-mUpcKN);
  min-width: 0;
  padding: 8px;
  margin: 10px;
}
.columnglobal_theme_classic__lpHd4ENktM {
  background: var(--token-u2rbquIz9Y0U);
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.img__hyMjK {
  object-fit: cover;
  max-width: 100%;
}
.img__hyMjK > picture > img {
  object-fit: cover;
}
.column__cMqtO {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/disuko_website_retro_version/images/hiveAndHearthIconPng.png") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__cMqtO {
    padding-top: 127px;
    padding-bottom: 127px;
  }
}
.columnglobal_theme_classic__cMqtOeNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.column__mjCkh {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background: var(--token-mb8B3-mUpcKN);
  min-width: 0;
  padding: 8px;
  margin: 10px;
}
.columnglobal_theme_classic__mjCkHeNktM {
  background: var(--token-u2rbquIz9Y0U);
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.img__qEfGz {
  object-fit: cover;
  max-width: 100%;
}
.img__qEfGz > picture > img {
  object-fit: cover;
}
.img___3P2T {
  object-fit: cover;
  max-width: 100%;
}
.img___3P2T > picture > img {
  object-fit: cover;
}
.img__cTkF6 {
  object-fit: cover;
  max-width: 100%;
}
.img__cTkF6 > picture > img {
  object-fit: cover;
}
.text___4G4Hs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__qM0Gm {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-self: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qM0Gm {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__wAsNr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.window__uNuOs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__vWq1F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__vWq1F > picture > img {
  object-fit: cover;
}
.img__or3L1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__or3L1 > picture > img {
  object-fit: cover;
}
.img__iHk4Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__iHk4Z > picture > img {
  object-fit: cover;
}
.freeBox___10XuP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.img___0XMzN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___0XMzN > picture > img {
  object-fit: cover;
}
.imageWindow {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    4px 4px 0px 0px var(--token-GXH3dzbZuw1x),
    -4px -4px 0px 0px var(--token-FYHois2LGA8g);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-1TXFysFOBXKj);
  min-width: 0;
  padding: 10px;
  margin: 0px;
}
.imageWindowglobal_theme_classic {
  background: var(--token-4IQYJ82NsyMZ);
  box-shadow:
    4px 4px 0px 0px var(--token-K_FDgNby8UmH),
    -4px -4px 0px 0px var(--token-24x9Uc_JThUA);
}
.img__yq2Ah {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  backdrop-filter: brightness(75%);
  width: 100%;
  min-width: 0;
  -webkit-backdrop-filter: brightness(75%);
}
.img__yq2Ah > picture > img {
  object-fit: cover;
}
.imgglobal_theme_classic__yq2AheNktM {
  box-shadow:
    -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
