._3DDesign {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/disuko_website_retro_version/images/backgroundJpg.jpg") top 50% left 50% / cover repeat fixed;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
._3DDesign > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  ._3DDesign > * {
    grid-column: 4;
  }
}
._3DDesignglobal_theme_classic {
  background: var(--token-2cxCto4hpENi);
}
._3DDesignglobal_theme_classic > * {
  grid-column: 4;
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.windowButton__lEabk:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  left: 17px;
  top: 92px;
  position: fixed;
}
.text__we74X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 64px;
  grid-row-gap: 30px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.window:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .window:global(.__wab_instance) {
    margin-top: 19px;
  }
}
.img__brlHw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__brlHw > picture > img {
  object-fit: cover;
}
.freeBox__vp3Cp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox___6Mn7U {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
}
.freeBox___2Ex8W {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.img__bh4Hg {
  object-fit: cover;
  max-width: 100%;
  width: 70%;
  align-self: center;
}
.img__bh4Hg > picture > img {
  object-fit: cover;
}
.text__fX6K0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__fX6K0ENktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__fMlB3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  margin-top: 0px;
  min-width: 0;
}
.textglobal_theme_classic__fMlB3ENktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__l5BbS {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__l5BbSeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.freeBox__jjZyZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.windowButton__zi4Jc:global(.__wab_instance) {
  max-width: 100%;
}
.text__bdmnr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  padding-left: 0px;
  min-width: 0;
}
.windowButton___9YLzZ:global(.__wab_instance) {
  max-width: 100%;
}
.text__tRznr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.youTube___1GN:global(.__wab_instance) {
  width: 100%;
  height: 512px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  display: none;
}
.img___72Vva {
  position: relative;
  height: 512px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img___72Vva > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___72Vva {
    height: auto;
  }
}
.columns__h2DuC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
  margin: 0px;
}
.columns__h2DuC > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__h2DuC > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__h2DuC {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__h2DuC > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nHyq4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__bKzb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__bKzb > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__bKzb {
    height: auto;
  }
}
.column__y7ElT {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___2H6Dd {
  position: relative;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  margin: 0px;
}
.img___2H6Dd > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___2H6Dd {
    height: auto;
  }
}
.link__etUgw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.linkglobal_theme_classic__etUgweNktM {
  color: var(--token-24x9Uc_JThUA);
}
.freeBox__gy2Ah {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__a2HnO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__a2HnOeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__yN7Ie {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__yN7IeeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__g7V88 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__g7V88ENktM {
  color: var(--token-24x9Uc_JThUA);
}
.freeBox__nhOAi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.windowButton__fddnk:global(.__wab_instance) {
  max-width: 100%;
}
.text__ndy3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.windowButton___3Jc0U:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  margin: 0px;
}
.text__mmpQ0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.youTube__kf0Ck:global(.__wab_instance) {
  width: 100%;
  height: 512px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
}
.img__ogrR8 {
  position: relative;
  height: 512px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__ogrR8 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ogrR8 {
    height: auto;
  }
}
.columns___8Xlb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
  margin: 0px;
}
.columns___8Xlb > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___8Xlb > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Xlb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Xlb > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fwT71 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__a26Ke {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__a26Ke > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__a26Ke {
    height: auto;
  }
}
.column__dNQfT {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__laRa {
  position: relative;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  margin: 0px;
}
.img__laRa > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__laRa {
    height: auto;
  }
}
.freeBox__mCM {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mCM {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__zmYwX {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text__pougD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__pougDeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__ijBn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__ijBneNktM {
  color: var(--token-24x9Uc_JThUA);
}
.windowButton__iSnjO:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  margin: 0px;
}
.text__w0H8F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.img__pmpQb {
  position: relative;
  object-fit: cover;
  height: 384px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__pmpQb > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__pmpQb {
    height: auto;
  }
}
.img__wGEkT {
  position: relative;
  height: 384px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__wGEkT > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wGEkT {
    height: auto;
  }
}
.img__oBr4T {
  position: relative;
  height: 384px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__oBr4T > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__oBr4T {
    height: auto;
  }
}
.img__eVjEu {
  position: relative;
  object-fit: cover;
  height: 384px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__eVjEu > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eVjEu {
    height: auto;
  }
}
.freeBox__gDqQo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__neZe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__neZeeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__fsfKo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__fsfKOeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__qhs5A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__qhs5AeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.windowButton___6LU:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
}
.text__txOr8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.img___4GwEo {
  position: relative;
  height: 384px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img___4GwEo > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___4GwEo {
    height: auto;
  }
}
.img__tcRag {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 384px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__tcRag > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tcRag {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__jiIoG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__eG9Im {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__eG9ImeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__ciRth {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__ciRtHeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__ssGaf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  padding-bottom: 0px;
  min-width: 0;
}
.textglobal_theme_classic__ssGafeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.windowButton__yAwtH:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
}
.text__jnhE3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.img__tTdK2 {
  position: relative;
  height: 384px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__tTdK2 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tTdK2 {
    height: auto;
  }
}
.img___7UnXs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 384px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img___7UnXs > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___7UnXs {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__dtrej {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__o7YEf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__o7YEfeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__o6CfP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__o6CfPeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text___44IGz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic___44IGZeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.windowButton__jHsSp:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
}
.text___6Mand {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.img__tk8Q8 {
  position: relative;
  height: 384px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center bottom;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__tk8Q8 > picture > img {
  object-fit: cover;
  object-position: center bottom;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tk8Q8 {
    height: auto;
  }
}
.img__t6PI1 {
  position: relative;
  height: 384px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__t6PI1 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__t6PI1 {
    height: auto;
  }
}
.freeBox__z8LDv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text___9DiB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic___9DiBeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text___7Kfx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic___7KfxeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__kJ4BR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__kJ4BReNktM {
  color: var(--token-24x9Uc_JThUA);
}
.windowButton__eavG:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
}
.text__bxVe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.img__zuLc {
  position: relative;
  height: 768px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center bottom;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__zuLc > picture > img {
  object-fit: cover;
  object-position: center bottom;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zuLc {
    height: auto;
  }
}
.freeBox__gj4Pj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__vTl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  padding-bottom: 0px;
  min-width: 0;
}
.textglobal_theme_classic__vTleNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text___8Jfk6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic___8Jfk6ENktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__bcHc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  padding-bottom: 0px;
  min-width: 0;
}
.textglobal_theme_classic__bcHceNktM {
  color: var(--token-24x9Uc_JThUA);
}
.blurredPicture__cjrwd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 0px;
}
.img__ftoZy {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 384px;
  width: 100%;
  left: auto;
  top: auto;
  position: relative;
  min-width: 0;
}
.img__ftoZy > picture > img {
  object-fit: cover;
}
.blurredPicture__iIoo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 0px;
}
.htmlVideo:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.img___4Bndd {
  position: relative;
  height: 384px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img___4Bndd > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___4Bndd {
    height: auto;
  }
}
.freeBox__avUeE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 0;
}
.text___3LwqQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic___3LwqQeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__wz2Bp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  padding-bottom: 0px;
  min-width: 0;
}
.textglobal_theme_classic__wz2BPeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__as7Lw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__as7LWeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.windowButton__aVig1:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  margin: 0px;
}
.text__ba3Hf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.youTube__tedby:global(.__wab_instance) {
  height: 320px;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .youTube__tedby:global(.__wab_instance) {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__ro7Nq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__nAytI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__nAytIeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__lByco {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  padding-bottom: 0px;
  min-width: 0;
}
.textglobal_theme_classic__lBycOeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.text__tEfef {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__tEfefeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.windowButton__guchs:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  margin: 0px;
}
.text__tuKys {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.youTube__rtUap:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  align-self: flex-end;
  max-height: 100%;
  max-width: 100%;
  height: 320px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .youTube__rtUap:global(.__wab_instance) {
    height: auto;
    width: auto;
    max-width: auto;
    max-height: none;
    align-self: center;
  }
}
.freeBox__lfPiy {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text___4LD3V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic___4LD3VeNktM {
  color: var(--token-24x9Uc_JThUA);
}
.img__yoLxI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 384px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__yoLxI > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yoLxI {
    height: auto;
  }
}
.img__znQg3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 384px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__znQg3 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__znQg3 {
    height: auto;
  }
}
.freeBox__fz0Ce {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text__mDrnr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GXH3dzbZuw1x);
  min-width: 0;
}
.textglobal_theme_classic__mDrnReNktM {
  color: var(--token-24x9Uc_JThUA);
}
.img__v19Aj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 384px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__v19Aj > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__v19Aj {
    height: auto;
  }
}
.img__oFf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 384px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.img__oFf > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__oFf {
    height: auto;
  }
}
.freeBox__fwQTu {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.text__rj5Us {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  min-width: 0;
}
.tilt__uc7Yg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__uIyrN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin: 15px;
}
.img__uIyrN > picture > img {
  object-fit: cover;
}
.tilt__vgqNo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__gBUgw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin: 15px;
}
.img__gBUgw > picture > img {
  object-fit: cover;
}
