.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/disuko_website_retro_version/images/backgroundJpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
.freeBox__xbzdh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.window:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__byfNx {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  height: 141px;
  margin: 10px;
}
.img__byfNx > picture > img {
  object-fit: contain;
}
.windowButton:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  margin: 50px;
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  height: 100%;
  width: 25px;
  align-self: auto;
  min-height: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox__qsEbu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  justify-self: flex-start;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.img__gllBw {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  height: auto;
  width: 100%;
  min-width: 0;
}
.img__gllBw > picture > img {
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: flex-end;
  bottom: 32px;
  right: 26px;
}
.svg__gs2CP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__e3ZhE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
