.ariaSelect:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-kT6HkSzH7qs7);
  min-width: 0;
}
.ariaSelect[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  min-width: 200px;
  align-items: center;
  box-shadow: inset 0px 0px 0px 1px var(--token-k86aFnE17rTD);
  outline-style: none;
  border-radius: var(--token-YWcZl9MW-KTL);
  padding: var(--token-YWcZl9MW-KTL) var(--token-2w3vS6kWQxZm);
  border-style: none;
}
.ariaSelect[data-focus-visible] .ariaButton:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-XNR1P-4vmK-C);
  outline-offset: 1px;
  outline-color: var(--token--l1DjjvmKXX1);
}
.ariaSelectedValue:global(.__wab_instance) {
  font-size: var(--token-PtbtxeHbp9HO);
  line-height: var(--token-blST-5cyPcSL);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-9nVOCdQjMosB);
  min-width: 0;
}
.svg {
  width: var(--token-MTeCS32vpZ1h);
  height: var(--token-MTeCS32vpZ1h);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.menuPopover:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
