.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  background: var(--token-aIqUSITccedz);
  backdrop-filter: brightness(80%) blur(4px);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  -webkit-backdrop-filter: brightness(80%) blur(4px);
  padding: 0px 64px;
}
.columns {
  display: flex;
  position: relative;
  max-width: none;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 0;
  flex-wrap: nowrap;
  flex-grow: 1;
  backdrop-filter: none;
  column-gap: 64px;
  min-width: 0;
  -webkit-backdrop-filter: none;
  --plsmc-rc-col-gap: 64px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 64px;
    min-width: 0;
    --plsmc-rc-col-gap: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dcmGr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  overflow: visible;
  min-width: 0;
  padding: 8px;
}
.disuko {
  position: relative;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  height: 48px;
  flex-shrink: 0;
}
.img__mnLpD {
  object-fit: contain;
  height: 100%;
  position: relative;
  left: auto;
  top: auto;
  align-self: center;
  min-height: 0;
  border-radius: 0px;
}
.img__mnLpD > picture > img {
  object-fit: contain;
}
.column__xXVm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__b9EpP {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-8jSXug3OFJx9);
  font-family: "Press Start 2P";
  font-size: 12px;
  font-weight: 700;
  min-width: 0;
}
.link___13BKz {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.img___6UtX {
  object-fit: cover;
  max-width: 100%;
  width: 56px;
  flex-shrink: 0;
}
.img___6UtX > picture > img {
  object-fit: cover;
}
.column__uupEl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__liHz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-8jSXug3OFJx9);
  text-align: right;
  font-family: "Press Start 2P";
  font-size: 12px;
  min-width: 0;
}
