.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/disuko_website_retro_version/images/backgroundTilesPng2.png") 0% 0% / 25px 25px;
  transform: skew(0deg, 0deg);
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.navbarPixel:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.freeBox___0Jc9K {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px;
}
.freeBox___6Rvmt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 80%;
  align-self: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 10px;
}
.text__nafsz {
  height: 100%;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  text-align: center;
  font-size: 32px;
  padding-bottom: 0px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nafsz {
    font-size: 24px;
    width: auto;
  }
}
.text__qwEle {
  position: relative;
  width: auto;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  left: auto;
  top: auto;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  opacity: 0.75;
}
.columns {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  flex-wrap: nowrap;
  column-gap: 20px;
  overflow: auto;
  width: 80%;
  --plsmc-rc-col-gap: 20px;
  padding: 10px;
  margin: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    left: auto;
    top: auto;
    min-width: 0;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__i2QKt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
}
.freeBox__wsVm0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1500px;
  max-width: 100%;
  background: var(--token-aIqUSITccedz);
  box-shadow: 0px 4px 16px 0px #00000033;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 20px;
}
.link__loaSw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  margin-bottom: 10px;
  min-width: 0;
  padding: 20px;
}
.text__cWlOu {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.img__n8QtB {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 244px;
  object-position: 50% 50%;
  min-width: 0;
  flex-shrink: 0;
  margin: 10px;
}
.img__n8QtB > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__hvnuR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-xnuG0pvbpe-s);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text___62RlX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.link__fxhun {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 20px;
  margin: 10px;
}
.text__akfpE {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.img__eN63B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 244px;
  width: 100%;
  object-position: center top;
  min-width: 0;
  flex-shrink: 0;
  margin: 10px;
}
.img__eN63B > picture > img {
  object-fit: cover;
  object-position: center top;
}
.text___1Lssi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__uDCs6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  font-size: 12px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__yeJzu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 20px;
  margin: 10px;
}
.text__zBz3L {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.img__nTm3L {
  position: relative;
  object-fit: cover;
  height: 244px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  margin: 10px;
}
.img__nTm3L > picture > img {
  object-fit: cover;
}
.text__cyW1P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__y2Ft4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  font-size: 12px;
  padding-bottom: 0px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__hdPmZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 20px;
  margin: 10px;
}
.text___61VzQ {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.img__mugge {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  margin: 10px;
}
.img__mugge > picture > img {
  object-fit: cover;
}
.text__zB1R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text___58NL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__y21Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 20px;
  margin: 10px;
}
.text___2B7W {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.img___5LcVw {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  margin: 10px;
}
.img___5LcVw > picture > img {
  object-fit: cover;
}
.text__lmGlz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__pRn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__w0WOw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 20px;
  margin: 10px;
}
.text__ptc1G {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.img__fez4A {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  margin: 10px;
}
.img__fez4A > picture > img {
  object-fit: cover;
}
.text__rpXpq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__fTjs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__ifeVk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-_q1LmbxynQWv);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 20px;
  margin: 10px;
}
.text__pQfKx {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.img__ppd7W {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  margin: 10px;
}
.img__ppd7W > picture > img {
  object-fit: cover;
}
.text__atTrI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-xnuG0pvbpe-s);
  font-size: 18px;
  padding-top: 0px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__s3F6R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__e9Tvh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-_q1LmbxynQWv);
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 20px;
  margin: 10px;
}
.text___0F1K6 {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.img__rPycX {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  margin: 10px;
}
.img__rPycX > picture > img {
  object-fit: cover;
}
.text__jyixp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__lLmX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Press Start 2P";
  color: var(--token-s7KJ7fp6TQW6);
  padding-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__wlqox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___0Xly5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-aIqUSITccedz);
  min-width: 0;
}
.text__eux8O {
  height: 100%;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eux8O {
    font-size: 24px;
    width: auto;
  }
}
.text__lOcxq {
  width: 817px;
  height: auto;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lOcxq {
    font-size: 24px;
    width: auto;
  }
}
.freeBox__z52E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  align-self: center;
  background: var(--token-51-e1302o9bz);
  box-shadow: 0px 4px 16px 0px #00000033;
  padding: 10px;
  margin: 10px;
}
.text__oPvEx {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  font-family: "Press Start 2P";
  color: var(--token-8jSXug3OFJx9);
  left: auto;
  top: auto;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.iframe:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  height: 1250px;
  min-width: 0;
  flex-shrink: 0;
}
.footerPixel:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
