.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background: var(--token-1TXFysFOBXKj);
  backdrop-filter: none;
  box-shadow:
    inset -4px -4px 0px 0px var(--token-XJ2XB8GCLLex),
    inset 4px 4px 0px 0px var(--token-FYHois2LGA8g);
  justify-content: center;
  width: 100%;
  height: auto;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    padding: 0px;
  }
}
.rootglobal_theme_classic {
  background: var(--token-4IQYJ82NsyMZ);
  box-shadow:
    inset -4px -4px 0px 0px var(--token-K_FDgNby8UmH),
    inset 4px 4px 0px 0px var(--token-24x9Uc_JThUA);
}
.columns {
  display: flex;
  position: relative;
  max-width: none;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-wrap: nowrap;
  flex-grow: 1;
  backdrop-filter: none;
  left: auto;
  top: auto;
  column-gap: 64px;
  min-width: 0;
  -webkit-backdrop-filter: none;
  --plsmc-rc-col-gap: 64px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsglobal_theme_classic {
  --plsmc-rc-col-gap: 64px;
}
.column__fE1Co {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  overflow: visible;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fE1Co {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__pGab3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  max-width: 100%;
  width: 100%;
  column-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.rpsLink {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rpsLink {
    flex-grow: 1;
    flex-shrink: 1;
    max-height: 56px;
    width: 100%;
    min-width: 0;
  }
}
.img__l9Yle {
  object-fit: cover;
  height: 48px;
  width: auto;
  border-radius: 0px;
  margin: 5px;
}
.img__l9Yle > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__l9Yle {
    height: 64px;
    width: auto;
  }
}
.column___7Zhwx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___2N83S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.text___76Zlv {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.textglobal_theme_classic___76ZlVeNktM {
  color: var(--token-K_FDgNby8UmH);
}
.text__kdu93 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  margin: 0px;
}
.textglobal_theme_classic__kdu93ENktM {
  color: var(--token-K_FDgNby8UmH);
}
.embedHtml__iTzWq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.column__e7FGn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.dotgay {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .dotgay {
    flex-grow: 1;
    flex-shrink: 1;
    max-height: 56px;
    width: 100%;
    min-width: 0;
  }
}
.img___0KnN {
  object-fit: contain;
  max-width: 100%;
  width: 56px;
  flex-shrink: 0;
}
.img___0KnN > picture > img {
  object-fit: contain;
}
.column__eh7Rf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.embedHtml__pltue:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  display: none;
}
.theme {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
  display: none;
}
.freeBox__zl4KN {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  min-width: 0;
  display: none;
  padding: 0px;
}
.classic {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-style: italic;
  font-size: 12px;
  padding: 0px;
}
.classic2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-style: italic;
  font-size: 12px;
  padding: 0px;
}
