.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  object-fit: cover;
  color: #ffffff;
  background: var(--token-1TXFysFOBXKj);
  transition-property: all;
  transition-duration: 1s;
  position: relative;
  backdrop-filter: blur(4px) brightness(80%);
  box-shadow:
    inset 4px 4px 0px 0px var(--token-FYHois2LGA8g),
    inset -4px -4px 0px 0px var(--token-XJ2XB8GCLLex);
  justify-self: flex-start;
  flex-direction: row;
  justify-content: space-between;
  min-width: 0;
  -webkit-backdrop-filter: blur(4px) brightness(80%);
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 10px 10px 10px 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:global(.__wab_instance) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
  }
}
.rootglobal_theme_classic:global(.__wab_instance) {
  background: var(--token-4IQYJ82NsyMZ);
  box-shadow:
    inset 4px 4px 0px 0px var(--token-24x9Uc_JThUA),
    inset -4px -4px 0px 0px var(--token-K_FDgNby8UmH);
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link {
    align-items: center;
    justify-content: center;
  }
}
.img {
  object-fit: cover;
  width: 48px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.svg__wgcBe {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-8jSXug3OFJx9);
  width: 33px;
  height: 33px;
}
.svg__t0Ftl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-8jSXug3OFJx9);
  width: 33px;
  height: 33px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ca9cb9;
  box-shadow:
    inset 2px 2px 0px 1px var(--token-Ut0a0APCE0ad),
    inset -2px -2px 0px 1px var(--token-FYHois2LGA8g);
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    column-gap: 0px;
  }
}
.freeBoxglobal_theme_classic {
  background: var(--token-u2rbquIz9Y0U);
  box-shadow:
    inset 2px 2px 0px 1px var(--token-K_FDgNby8UmH),
    inset -2px -2px 0px 1px var(--token-24x9Uc_JThUA);
}
.home:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .home:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .windowButton__tn906:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__xnHt0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  height: 100%;
  width: 25px;
  align-self: auto;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__xnHt0 {
    align-self: center;
  }
}
.svgglobal_theme_classic__xnHt0ENktM {
  color: var(--token-lpL2YkgMM450);
}
.text__nN29R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nN29R {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textglobal_theme_classic__nN29ReNktM {
    color: var(--token-lpL2YkgMM450);
  }
}
.portfolio:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .portfolio:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .windowButton__cMdyj:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__pplbH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  height: 100%;
  width: 25px;
  align-self: auto;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__pplbH {
    align-self: center;
  }
}
.svgglobal_theme_classic__pplbHeNktM {
  color: var(--token-lpL2YkgMM450);
}
.text__eDvga {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eDvga {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textglobal_theme_classic__eDvgaeNktM {
    color: var(--token-lpL2YkgMM450);
  }
}
.commissions:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .commissions:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .windowButton___3YNfu:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__ztfub {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  height: 100%;
  width: 25px;
  align-self: auto;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ztfub {
    align-self: center;
  }
}
.svgglobal_theme_classic__ztfuBeNktM {
  color: var(--token-lpL2YkgMM450);
}
.text__y17KY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__y17KY {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textglobal_theme_classic__y17KYeNktM {
    color: var(--token-lpL2YkgMM450);
  }
}
.music:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .music:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .windowButton___3EuI3:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__xxDv3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  height: 100%;
  width: 25px;
  align-self: auto;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__xxDv3 {
    align-self: center;
  }
}
.svgglobal_theme_classic__xxDv3ENktM {
  color: var(--token-lpL2YkgMM450);
}
.text__zWkR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zWkR {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textglobal_theme_classic__zWkReNktM {
    color: var(--token-lpL2YkgMM450);
  }
}
.merch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .merch:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .windowButton__kL7LU:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__qOyw6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  height: 100%;
  width: 25px;
  align-self: auto;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qOyw6 {
    align-self: center;
  }
}
.svgglobal_theme_classic__qOyw6ENktM {
  color: var(--token-lpL2YkgMM450);
}
.text__druR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__druR {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textglobal_theme_classic__druReNktM {
    color: var(--token-lpL2YkgMM450);
  }
}
.links:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .windowButton__qgoUk:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg___0Ym7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  height: 100%;
  width: 25px;
  align-self: auto;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___0Ym7 {
    align-self: center;
  }
}
.svgglobal_theme_classic___0Ym7ENktM {
  color: var(--token-lpL2YkgMM450);
}
.text___01EBc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___01EBc {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textglobal_theme_classic___01EBceNktM {
    color: var(--token-lpL2YkgMM450);
  }
}
