.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/plasmic/disuko_website_retro_version/images/backgroundJpg.jpg") left 50% bottom 0% / cover repeat-y
    fixed;
  filter: blur(0px);
  backdrop-filter: brightness(0%);
  mix-blend-mode: normal;
  isolation: auto;
  box-shadow: 0px 4px 16px 0px #00000033;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: brightness(0%);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: url("/plasmic/disuko_website_retro_version/images/backgroundJpg.jpg") left 50% bottom 0% / auto auto
      repeat-y;
  }
}
.rootglobal_theme_classic {
  background: var(--token-2cxCto4hpENi);
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  margin-bottom: 0px;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  isolation: auto;
  backdrop-filter: brightness(90%) blur(8px);
  filter: none;
  transform: skew(0deg, 0deg);
  position: relative;
  left: auto;
  top: auto;
  row-gap: 20px;
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: brightness(90%) blur(8px);
  padding: 30px 100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    padding: 10px;
  }
}
.freeBox__iNumN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iNumN {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.freeBox__s1Xm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__au15O {
  object-fit: cover;
  max-width: 100%;
  filter: saturate(100%);
}
.img__au15O > picture > img {
  object-fit: cover;
}
.window__a9Ns:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__yDuY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.imageWindow:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
  margin: 0px;
}
.img__y5U8J {
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  align-self: auto;
  width: 100%;
  min-width: 0;
  margin: 0;
}
.img__y5U8J > picture > img {
  object-fit: cover;
}
.freeBox__a9Bbt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.windowButton__oX6B:global(.__wab_instance) {
  max-width: 100%;
}
.text__dcKO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.textglobal_theme_classic__dcKOeNktM {
  color: var(--token-lpL2YkgMM450);
}
.windowButton___6RFoD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__goaQ6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-XJ2XB8GCLLex);
  min-width: 0;
}
.textglobal_theme_classic__goaQ6ENktM {
  color: var(--token-lpL2YkgMM450);
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  min-width: 0;
  --plsmc-rc-col-gap: 20px;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.imm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.window__p6Lhm:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__qwXj9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  aspect-ratio: 16/9;
  object-position: 50% center;
  margin: 10px;
}
.img__qwXj9 > picture > img {
  object-fit: cover;
  object-position: 50% center;
}
.webDesign {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.window__b4HY:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__lHzoC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  aspect-ratio: 16/9;
  object-position: 50% center;
  margin: 10px;
}
.img__lHzoC > picture > img {
  object-fit: cover;
  object-position: 50% center;
}
._3DDesign {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.window__iSq4J:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__v0XiG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__v0XiG > picture > img {
  object-fit: cover;
}
.music {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.window__cifFm:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__u2Kt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__u2Kt > picture > img {
  object-fit: cover;
}
._2DDesign {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.window__tlLqO:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__kMwug {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__kMwug > picture > img {
  object-fit: cover;
}
.film {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.window__oqDxY:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__azDap {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow:
    -4px -4px 0px 0px var(--token-GXH3dzbZuw1x),
    4px 4px 0px 0px var(--token-FYHois2LGA8g);
  margin: 10px;
}
.img__azDap > picture > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
